body {
    margin: 0px;
    padding: 0px;
    height: 100%;
}

.foreground_window {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    
    filter: blur(3px);
    -webkit-filter: blur(3px);
    -moz-filter: blur(3px);
    -o-filter: blur(3px);
    -ms-filter: blur(3px);
    
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently supported by any browser but < IE9 */
    pointer-events: none;
}

#InitWorkspace {
    top: 40px;
}

.section {
    position: relative;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 560px;
    height: 250px;
    padding: 20px;
}

#openP {
    float: right;
    right: 20px;
    margin-right: 0px;
}

#create {
    float: right;
    right: 0px;
    margin-right: 0px;
}

#selection {
    position: relative;
    border: 1px solid gray;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    top: 5px;
}

.bottomText {
    position: relative;
    margin-left: 0px;
    top: 5px;
    display: inline-block;
}

#topText {
    position: relative;
    top: 0px;
    margin-bottom: 10px;
    font-family: Segoe UI, Arial;
}

#intrTxt {
    position: relative;
    top: 10px;
    margin-right: 2px;
    font-family: Segoe UI, Arial;
}

.nameSoft {
    font-family: Segoe UI, Arial;
    position: relative;
    top: 10px;
    display: block;
    height: 50px;
    width: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

#ItemsBox {
    border: 1px solid gray;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.imageSoft img{
    position: relative;
    top: 5px;
    left: 2px;
    width: 100px;
    height: 50px;
}

.itemOpen {
    position: relative;
    display: inline-block;
    font-family: Segoe UI, Arial;
    width: 100px;
    height: 120px;
}

.itemOpen:hover{
    background-color: #a0c5e8;
}

#numeSoft {
    font-family: Segoe UI, Arial;
    top: 10px;
}

.itemSoft {
    position: relative;
    display: table;
    height: 60px;
    font-family: Segoe UI, Arial;
}

.itemSoft:hover{
    background-color: #a0c5e8;
}

.selected {
    background-color: #88a8c7;
}

.imageField {
    position: relative;
    display: table-cell;
    width: 100px;
}

.imageField img {
    position: relative;
    margin: 0 auto;
    vertical-align: middle;
}

.nameField {
    position: relative;
    display: table-cell;
    width: 150px;
    text-align: center;
    vertical-align: middle;
}

.descriptionField {
    position: relative;
    display: table-cell;
    text-align: justify;
    vertical-align: middle;
    padding: 10px
}

#softContent {
    position: absolute;
    display: table;
    top: 0px;
    bottom: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
}

#topMenuBar {
    position: relative;
    display: table-row;
    top: 0px;
    width: 100%;
    height: 30px;
    background-color: #272727;
    color: lightgray;
    font-family: Segoe UI, Arial;
}

#menuBar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: relative;
    display: inline-block;
}

#menuBar li {
    float: left;
    padding: 5px 10px;
    cursor: default;
}

#menuBar li:hover {
    background-color: #464545;
}

#fisierContent {
    display: none;
    position: absolute;
    top: 30px;
    left: 0px;
    background-color: #272727;
    list-style-type: none;
    list-style-position: inside;
    z-index: 10;
    padding-left:0;
    width: 200px;
}

#fisierText:hover #fisierContent {
    display: block;
}

#fisierContent li {
    display: block;
    padding: 5px 10px;
    width: 180px;
    cursor: default;
}


#creationBody {
    position: relative;
    display: table;
    height: 100%;
    width: 100%;
    vertical-align: top;
    table-layout: fixed;
}

#toolbox {
    position: relative;
    width: 200px;
    background-color: lightgray;
    display: table-cell;
    font-family: Segoe UI, Arial
}

#preview {
    position: relative;
    background-color: white;
    display: table-cell;
    width: auto;
    height: 100%;
    overflow: auto;
}

#properties {
    position: relative;
    background-color: lightgray;
    display: table-cell;
    font-family: Segoe UI, Arial;
    width: 300px;
    height: 100%;
    padding-bottom: 30px;
}

.topBar {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: gray;
    text-align: center;
}

#topBar span {
    vertical-align: middle;
}

#contentToolbox {
    list-style-type: none;
    list-style-position: inside;
    padding: 0px;
    margin: 0px;
}

#contentProperties {
    list-style-type: none;
    list-style-position: inside;
    padding: 0px;
    margin: 0px;
    height: calc(100% - 30px);
}

#contentProperties ul {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0px;
    margin: 0px;
}

.toolItem {
    height: 40px;
    background-color: #b9b9b9;
    position: relative;
    display: table;
    width: 100%;
}

.toolItem:hover {
    background-color: lightblue;
}

.ItemSelected {
    border: 1px dashed blue;
}


.propText {
    display: table-cell;
    width: 40%;
    border-right: 1px solid black;
    position: relative;
    vertical-align: middle;
    padding-left: 10px;
}

.propVal {
    display: table-cell;
    position: relative;
    padding-left: 5px;
    vertical-align: middle;
    width: 60%;   /* solve overflow */
}

.propVal span {
    min-width: 50px;
}

.propVal input, .propVal select {
    width: 100%;
    height: 80%;
    font-family: Segoe UI, Arial;
    font-size: 16px;
}

.propVal input:focus {
    border: none;
}

.remove {
    text-align: center;
    background-color: #b76b6b;
    height: 40px;
}

.remove:hover {
    background-color: #bd3030;
    cursor: default;
}

.remove span {
    position: relative;
    top: 8px;
}

#status {
    float: right;
    padding-top: 7px;
    padding-right: 10px;
}

.CreateDB {
    text-align: center;
    background-color: #8eacb7;
    height: 40px;
}

.CreateDB:hover {
    background-color: #37a6d0;
    cursor: default;
}

.CreateDB span {
    position: relative;
    top: 8px;
}

.CampuriUl li {
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    display: block;
    padding: 10px;
    height: 10px;
    width: 135px;
    overflow: hidden;
}

.CampuriUl li:hover {
    background-color: lightblue;
}

.CampuriUl input { 
    height: auto;
    width: auto;
}

.CampuriUl ul {
    position: absolute;
    top: 40px;
    z-index: 10;
    background-color: white;
    list-style-type: none;
    padding: 0px;
    max-height: 200px;
    overflow-y: scroll;
}

.label {
    padding-left: 2px;
    padding-right: 2px;
    display: table;
    position: absolute;
}

.tabel table, .tabel td, .tabel tr {
    border: 1px solid black;
    padding-left: 5px;
    padding-right: 5px;
    border-collapse: collapse;
    vertical-align: middle;
    text-align: center;
}

.move {
    position: absolute;
    width: 10px;
    height: 10px;
    background-image: url("../Resources/move.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.spanToInputFix {
    display: inline-block;
}

.spanToInputFix:empty:before {
    content: "\200b";
}

#selSpanDB {
    display: inline-block;
    font-family: Segoe UI, Arial;
    font-size: 15px;
}

#SelectDB select {
    display: inline-block;
    width: 200px;
    height: 30px;
}

#CreateDB {
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
    left: 10px;
}

#StergeDB {
    display: inline-block;
    margin-left: 0;
    margin-right: 0;
    left: 10px;
}

#createTable {
    position: relative;
    display: block;
    width: 100%;
    height: 180px;
}

#topCTable {
    position: relative;
    top: 0px;
    left: 0px;
    margin: 0;
    border: 1px solid black;
    width: 100%;
    height: 20px;
    display: block;
}

#contentCTable {
    position: relative;
    top: 0px;
    left: 0px;
    margin: 0;
    border: 1px solid black;
    border-top: 0px;
    width: 100%;
    height: 100%;
    display: block;
    overflow-x: hidden;
    overflow-y: scroll;
}

#intrTxt2, #numeTabelNou {
    position: relative;
    top: 0px;
    left: 20px;
    display: inline-block;
    margin-right: 2px;
    font-family: Segoe UI, Arial;
}

#CreateTable {
    position: relative;
    left: 30px;
    display: inline-block;
}

#SpanNameNewDB, #numeDBNouInput {
    font-family: Segoe UI, Arial;
    position: relative;
    top: 10px;
    left: 20px;
    display: inline-block;
}

#CreateDBBtn {
    position: relative;
    left: 80px;
}

#OKbtn { 
    position: relative;
    left: 80px;
    top: 30px;
}

#TextInfo {
    font-family: Segoe UI, Arial;
    position: relative;
    top: 20px;
    display: block;
    text-align: center;
    width: 100%;
}

.topCTableItem {
    display: inline-block;
    width: 175px;
    font-family: Segoe UI, Arial;
}

.RawItemTable {
    display: block;
    height: 20px;
    width: 100%;
}

#contentCTable input {
    position: relative;
}

.firstInput {
    width: 165px;
}

.secondInput {
    width: 165px;
}

.thirdInput {
    width: 165px;
}
